.btn__wrap {
    display: flex;
}

.btn {
    padding: 5px;
    font-size: 18px;
    cursor: pointer;
}

.btn:not(:last-child) {
    margin-right: 4px;
}

.btn.btn--active {
    background-color: #ffb27f;
}

