.todo_item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.todo_item__text {
    cursor: pointer;
    flex-grow: 1;
}

.todo_item.done .todo_item__text {
    text-decoration: line-through;
}

.todo_item.important .todo_item__text {
    font-weight: 700;
    color: tomato;
}

.todo_item__buttons_wrap {
    display: flex;
    justify-content: flex-start;
    padding-left: 10px;
}
